.head, .head-link, .main, .footer{
  border: 1px solid black;
  margin-bottom: 4px;
}
.left,.right, .center{
  border: 1px solid black;
}
.left{
  width: 100px;
  float: left;
  gight

}
.right{
  width: 100px;
  float: right;

}
.center{
  width: calc(100%-206px);
}