.row{
  display: flex;
}
.head{
  background-color: chartreuse;
  color: white;
  height: 100px;
  text-align: center;
  padding: 10px 0;
}
.head-link{
  display: flex;
  margin: 3px 8px;
  ba
}
.side{
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.main{
  flex:70%;
  background-color: white;
  padding: 20px;
}
.fakeing{
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}