.container {
  width: 100%;
  margin: 0 auto;
  height: auto;
  float: left;
}

.navbar {
  overflow: hidden;
  background-color: black;
  float: left;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.contenr